.container {
  width: 100%;
  padding: 80px 50px;
}

.top,
.top a {
  display: flex;
  align-items: center;
}

.top i {
  font-size: 30px;
}

.top span {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.top .fa-chevron-right {
  margin: 0 20px;
  font-size: 17px;
}

.proposals {
  margin-top: 100px;
  border-top: 1px solid var(--border);
}

.proposal-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  row-gap: 20px;
  column-gap: 20px;
}

.proposal-top select {
  width: 120px;
  height: 30px;
  border-radius: 3px;
}

.proposal-top .search-bar {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 200px;
}

.proposal-top .search-bar input {
  width: 210px;
  padding: 6px 20px 6px 40px;
  border-radius: 3px;
  font-size: 14px;
}

.proposal-top .search-bar i {
  position: absolute;
  left: 12px;
  font-size: 16px;
}

.proposal-top .search-bar select {
  position: absolute;
  right: -8px;
  width: 23px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.proposal-top .search-bar::after {
  content: "";
  position: absolute;
  right: -3px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--text);
  z-index: 1;
}

.proposal-top button {
  background-color: var(--secondary);
  width: 180px;
  height: 30px;
  border-radius: 3px;
  color: white;
  font-weight: 600;

  transition: all ease-in-out 0.3s;
}

.proposal-top .disconnect-wallet-btn {
  background-color: var(--error);
  margin-left: auto;
}

.proposal-top button:hover {
  transform: scale(1.01);
}

.proposals h1 {
  text-transform: uppercase;
  margin-top: 40px;
}

.proposal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.proposal,
.modal-proposal {
  background-color: var(--card-bg);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--border);
  font-weight: 600;
  line-height: 25px;

  transition: all ease 0.3s;
}

.proposal:hover {
  transform: scale(1.01);
}

.proposal span,
.modal-proposal span {
  font-weight: 500;
}

.proposal div,
.modal-proposal div {
  margin-bottom: 7px;
}

.proposal .status,
.modal-proposal .status {
  margin-top: 25px;
  text-transform: capitalize;
}

.proposal .vote-count span,
.modal-proposal .vote-count span {
  margin-right: 10px;
  font-weight: 600;
}

.proposal .btn {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px auto 10px auto;
}

.btn button {
  width: 120px;
  height: 30px;
  background-color: var(--secondary);
  color: white;
  border-radius: 5px;

  transition: all ease 0.3s;
}

.btn button:hover {
  background-color: var(--success);
}

.vote-loading {
  width: 40px;
  height: 40px;
  border: 4px solid #d3d3d3;
  border-top: 4px solid #0057ff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

.vote-loading.big {
  width: 300px;
  height: 300px;
  margin-top: 150px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.6s ease-out;
}

.modal.show {
  transform: translateX(0);
  opacity: 1;
}

.modal-backdrop,
.modal-add {
  max-height: 95vh;
  overflow-y: auto;
  background: white;
  border-radius: 8px;
  padding: 2rem;
}

.modal-add {
  min-width: 400px;
}

.modal-proposal {
  max-width: 700px;
  padding: 30px;
  border-radius: 10px;
}

.quit-modal-btn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border);
  border-radius: 50%;
  background-color: transparent;
  margin-bottom: 10px;
}

.vote-btns,
.modal-add-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 50px;
  margin: 50px auto 10px auto;
}

.vote-btns button,
.modal-add-btns button {
  width: 150px;
  height: 40px;
  color: white;
  border-radius: 10px;
  font-weight: 600;

  transition: all ease 0.3s;
}

.vote-btns button:hover,
.modal-add-btns button:hover {
  transform: scale(1.03);
}

.vote-for,
.create-proposal {
  background-color: var(--success);
}

.vote-against,
.back {
  background-color: var(--error);
}

.status-msg {
  font-style: oblique;
  text-transform: capitalize;
}

.modal-add div {
  margin-bottom: 20px;
}

.modal-add .decr-header {
  display: flex;
  justify-content: space-between;
}

.modal-add input {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
}

.modal-add textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  width: fit-content;
  margin: 30px auto;
  color: white;
  gap: 20px;
  padding: 10px;
  border-radius: 7px;
}

.pagination i {
  color: white;
  font-size: 16px;
}

.pagination i.dim {
  color: rgba(15, 5, 5, 0.18);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1240px) {
  .proposal-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 860px) {
  .proposal-grid {
    grid-template-columns: 1fr;
  }

  .proposal-top .disconnect-wallet-btn {
    margin-left: 0;
    margin-top: 40px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 80px 15px;
  }

  .proposal {
    padding: 20px 10px;
  }

  .proposer span {
    font-size: 13px;
  }

  .proposal-top {
    column-gap: 10px;
  }

  .proposal-top select {
    width: 110px;
  }

  .modal-backdrop {
    padding: 0;
  }

  .modal-proposal {
    padding: 10px;
  }
}
